.form__item {
  display: block;
  box-sizing: border-box;
  padding: 9px 0;
  margin-bottom: 21px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.form__item:nth-of-type(2) {
  margin-bottom: 0;
}


@media screen and (min-width: 650px ) {
  .form__item {
    margin-bottom: 21px;
  }
}

